@charset "utf-8";
.treasurer {
  width: 100%;
  height: auto;
  padding-bottom: 60px;
  box-sizing: border-box;
  background: url("../images/bg.jpg") left top no-repeat transparent;
  background: url("../images/bg.jpg") 0 0 no-repeat transparent;
  background-size: 100%;
  background-color: #e93e0a;
}
.treasurer .treasurer-hide-bg {
  width: 100%;
}
.treasurer .treasurer-hide-bg > img {
  width: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
}
.treasurer .condition .condition-row {
  color: #ffffff;
  text-align: center;
}
.treasurer .treasurer-hide-bg-1 {
  width: 100%;
}
.treasurer .treasurer-hide-bg-1 > img {
  width: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
}
.treasurer .treasurer-data {
  width: 70%;
  margin: 0 auto;
}
.treasurer .treasurer-data .data-list {
  width: 100%;
}
.treasurer .treasurer-data .data-list > input {
  width: 100%;
  color: #919394;
}
.treasurer .treasurer-data .data-list:nth-child(4) {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
}
.treasurer .treasurer-data .data-list:nth-child(4) > input {
  flex: 2;
  -webkit-flex: 2;
  -moz-flex: 2;
  -o-flex: 2;
  -ms-flex: 2;
  width: 66%;
}
.treasurer .treasurer-data .data-list:nth-child(4) .refresh-code {
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -o-flex: 1;
  -ms-flex: 1;
  width: 33%;
  background-color: #f0feec;
}
.treasurer .treasurer-data .data-btn {
  width: 100%;
}
.treasurer .treasurer-data .data-btn > img {
  width: 100%;
}
.treasurer .treasurer-information {
  width: 100%;
}
.treasurer .treasurer-information > img {
  width: 42%;
  display: block;
  margin: 0 auto;
}
.treasurer .treasurer-information .friends .friends-title > img,
.treasurer .treasurer-information .friends .friends-title > span {
  vertical-align: middle;
}
.treasurer .treasurer-information .friends .friends-title > span {
  color: #ffffff;
}
.treasurer .treasurer-information .friends .friends-content {
  border-width: 1px;
  border-style: solid;
  border-color: #fe6116;
  opacity: 0.8;
  filter: alpha(opacity=8);
  background-color: #e60000;
}
.treasurer .treasurer-information .friends .friends-content .friends-paragraph {
  color: #ffffff;
}
.treasurer .treasurer-information .friends .friends-content .friends-paragraph .yellow,
.treasurer .treasurer-information .friends .friends-content .friends-paragraph .small-yellow {
  color: #fce84c;
}
.treasurer .treasurer-information .friends .friends-content .dotted {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #fe6116;
}
.treasurer .treasurer-information .friends > table {
  border-width: 1px;
  border-style: solid;
  border-color: #fe6116;
  opacity: 0.8;
  filter: alpha(opacity=8);
  background-color: #e60000;
  display: block;
  width: 100%;
  border-collapse: collapse;
}
.treasurer .treasurer-information .friends > table > thead {
  width: 100%;
}
.treasurer .treasurer-information .friends > table > thead > tr {
  width: 100%;
}
.treasurer .treasurer-information .friends > table > thead > tr > th {
  border-width: 1px;
  border-style: solid;
  border-color: #fe6116;
}
.treasurer .treasurer-information .friends > table > thead > tr > th.yellow {
  color: #fce84c;
}
.treasurer .treasurer-information .friends > table > tbody {
  width: 100%;
}
.treasurer .treasurer-information .friends > table > tbody > tr {
  width: 100%;
}
.treasurer .treasurer-information .friends > table > tbody > tr > td {
  width: 25%;
  border-width: 1px;
  border-style: solid;
  border-color: #fe6116;
  line-height: 1.2em;
}
.treasurer .treasurer-information .friends > table > tbody > tr > td.big {
  text-align: center;
}
.treasurer .treasurer-information .friends > table > tbody > tr > td.yellow {
  color: #fce84c;
}
.treasurer .treasurer-information .friends > table > tbody > tr > td.white {
  color: #ffffff;
}
.treasurer .footer {
  color: #fce84c;
  text-align: center;
}
@media screen and (max-width: 320px) {
  .treasurer .condition {
    margin-top: -8px;
  }
  .treasurer .condition .condition-row {
    font-size: 13px;
  }
  .treasurer .treasurer-data .data-list {
    margin-bottom: 4px;
  }
  .treasurer .treasurer-data .data-list > input {
    height: 37px;
    font-size: 13px;
    border-radius: 4px;
    text-indent: 10px;
  }
  .treasurer .treasurer-data .data-list:nth-child(4) .refresh-code {
    height: 37px;
    margin-left: 4px;
    border-radius: 4px;
  }
  .treasurer .treasurer-data .data-btn {
    margin-top: 8px;
    border-radius: 4px;
  }
  .treasurer .treasurer-information .friends {
    margin-top: 16px;
    padding: 0 12px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends .friends-title {
    text-indent: 12px;
  }
  .treasurer .treasurer-information .friends .friends-title > img {
    width: 30px;
    margin-right: 6px;
    margin-top: -4px;
  }
  .treasurer .treasurer-information .friends .friends-title > span {
    font-size: 18px;
  }
  .treasurer .treasurer-information .friends .friends-content {
    padding: 10px;
    box-sizing: border-box;
    margin-top: 8px;
    border-radius: 4px;
  }
  .treasurer .treasurer-information .friends .friends-content .friends-paragraph {
    font-size: 13px;
    line-height: 1.5em;
  }
  .treasurer .treasurer-information .friends .friends-content .friends-paragraph .yellow {
    font-size: 16px;
  }
  .treasurer .treasurer-information .friends .friends-content .dotted {
    padding-bottom: 7px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends .friends-content .top-padding {
    padding-top: 7px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends > table {
    margin-top: 8px;
    border-radius: 4px;
  }
  .treasurer .treasurer-information .friends > table > thead > tr > th {
    padding: 10px;
    box-sizing: border-box;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .treasurer .treasurer-information .friends > table > thead > tr > th.big {
    font-size: 14px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td {
    padding: 10px 4px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.big {
    font-size: 14px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.small {
    font-size: 12px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.bottom-left {
    border-bottom-left-radius: 4px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.bottom-right {
    border-bottom-right-radius: 4px;
  }
  .treasurer .footer {
    font-size: 13px;
    margin-top: 16px;
  }
}
@media screen and (min-width: 321px) and (max-width: 375px) {
  .treasurer .condition {
    margin-top: -8px;
  }
  .treasurer .condition .condition-row {
    font-size: 15px;
  }
  .treasurer .treasurer-data .data-list {
    margin-bottom: 4px;
  }
  .treasurer .treasurer-data .data-list > input {
    height: 43px;
    font-size: 15px;
    border-radius: 4px;
    text-indent: 10px;
  }
  .treasurer .treasurer-data .data-list:nth-child(4) .refresh-code {
    height: 43px;
    margin-left: 4px;
    border-radius: 8px;
  }
  .treasurer .treasurer-data .data-btn {
    margin-top: 8px;
    border-radius: 4px;
  }
  .treasurer .treasurer-information .friends {
    margin-top: 16px;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends .friends-title {
    text-indent: 18px;
  }
  .treasurer .treasurer-information .friends .friends-title > img {
    width: 36px;
    margin-right: 6px;
    margin-top: 0;
  }
  .treasurer .treasurer-information .friends .friends-title > span {
    font-size: 21px;
  }
  .treasurer .treasurer-information .friends .friends-content {
    padding: 18px;
    box-sizing: border-box;
    margin-top: 8px;
    border-radius: 4px;
    background-color: #e60000;
  }
  .treasurer .treasurer-information .friends .friends-content .friends-paragraph {
    font-size: 15px;
    line-height: 1.5em;
  }
  .treasurer .treasurer-information .friends .friends-content .friends-paragraph .yellow {
    font-size: 18px;
  }
  .treasurer .treasurer-information .friends .friends-content .dotted {
    padding-bottom: 13px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends .friends-content .top-padding {
    padding-top: 13px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends > table {
    margin-top: 8px;
    border-radius: 4px;
  }
  .treasurer .treasurer-information .friends > table > thead > tr > th {
    padding: 10px;
    box-sizing: border-box;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .treasurer .treasurer-information .friends > table > thead > tr > th.big {
    font-size: 17px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td {
    padding: 10px 3px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.big {
    font-size: 17px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.small {
    font-size: 15px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.bottom-left {
    border-bottom-left-radius: 4px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.bottom-right {
    border-bottom-right-radius: 4px;
  }
  .treasurer .footer {
    font-size: 15px;
    margin-top: 16px;
  }
}
@media screen and (min-width: 376px) and (max-width: 414px) {
  .treasurer .condition {
    margin-top: -8px;
  }
  .treasurer .condition .condition-row {
    font-size: 17px;
  }
  .treasurer .treasurer-data .data-list {
    margin-bottom: 4px;
  }
  .treasurer .treasurer-data .data-list > input {
    height: 47px;
    font-size: 17px;
    border-radius: 4px;
    text-indent: 10px;
  }
  .treasurer .treasurer-data .data-list:nth-child(4) .refresh-code {
    height: 47px;
    margin-left: 4px;
    border-radius: 8px;
  }
  .treasurer .treasurer-data .data-btn {
    margin-top: 8px;
    border-radius: 4px;
  }
  .treasurer .treasurer-information .friends {
    margin-top: 16px;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends .friends-title {
    text-indent: 18px;
  }
  .treasurer .treasurer-information .friends .friends-title > img {
    width: 36px;
    margin-right: 6px;
    margin-top: 0;
  }
  .treasurer .treasurer-information .friends .friends-title > span {
    font-size: 21px;
  }
  .treasurer .treasurer-information .friends .friends-content {
    padding: 18px;
    box-sizing: border-box;
    margin-top: 8px;
    border-radius: 4px;
    background-color: #e60000;
  }
  .treasurer .treasurer-information .friends .friends-content .friends-paragraph {
    font-size: 17px;
    line-height: 1.5em;
  }
  .treasurer .treasurer-information .friends .friends-content .friends-paragraph .yellow {
    font-size: 20px;
  }
  .treasurer .treasurer-information .friends .friends-content .dotted {
    padding-bottom: 16px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends .friends-content .top-padding {
    padding-top: 16px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends > table {
    margin-top: 8px;
    border-radius: 4px;
  }
  .treasurer .treasurer-information .friends > table > thead > tr > th {
    padding: 10px;
    box-sizing: border-box;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .treasurer .treasurer-information .friends > table > thead > tr > th.big {
    font-size: 15px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td {
    padding: 10px 3px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.big {
    font-size: 15px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.small {
    font-size: 13px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.bottom-left {
    border-bottom-left-radius: 4px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.bottom-right {
    border-bottom-right-radius: 4px;
  }
  .treasurer .footer {
    font-size: 17px;
    margin-top: 16px;
  }
}
@media screen and (min-width: 415px) and (max-width: 568px) {
  .treasurer .condition {
    margin-top: -14px;
  }
  .treasurer .condition .condition-row {
    font-size: 21px;
    margin-bottom: 4px;
  }
  .treasurer .treasurer-data .data-list {
    margin-bottom: 8px;
  }
  .treasurer .treasurer-data .data-list > input {
    height: 65px;
    font-size: 21px;
    border-radius: 4px;
    text-indent: 18px;
  }
  .treasurer .treasurer-data .data-list:nth-child(4) .refresh-code {
    height: 65px;
    margin-left: 8px;
    border-radius: 8px;
  }
  .treasurer .treasurer-data .data-btn {
    margin-top: 16px;
    border-radius: 4px;
  }
  .treasurer .treasurer-information .friends {
    margin-top: 32px;
    padding: 0 24px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends .friends-title {
    text-indent: 30px;
  }
  .treasurer .treasurer-information .friends .friends-title > img {
    width: 52px;
    margin-right: 6px;
    margin-top: 0;
  }
  .treasurer .treasurer-information .friends .friends-title > span {
    font-size: 32px;
  }
  .treasurer .treasurer-information .friends .friends-content {
    padding: 21px;
    box-sizing: border-box;
    margin-top: 16px;
    border-radius: 12px;
    background-color: #e60000;
  }
  .treasurer .treasurer-information .friends .friends-content .friends-paragraph {
    font-size: 21px;
    line-height: 1.5em;
  }
  .treasurer .treasurer-information .friends .friends-content .friends-paragraph .yellow {
    font-size: 25px;
  }
  .treasurer .treasurer-information .friends .friends-content .dotted {
    padding-bottom: 18px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends .friends-content .top-padding {
    padding-top: 18px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends > table {
    margin-top: 8px;
    border-radius: 12px;
  }
  .treasurer .treasurer-information .friends > table > thead > tr > th {
    padding: 21px 0;
    box-sizing: border-box;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .treasurer .treasurer-information .friends > table > thead > tr > th.big {
    font-size: 24px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td {
    padding: 21px 8px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.big {
    font-size: 24px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.small {
    font-size: 16px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.bottom-left {
    border-bottom-left-radius: 12px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.bottom-right {
    border-bottom-right-radius: 12px;
  }
  .treasurer .footer {
    font-size: 18px;
    margin-top: 21px;
  }
}
@media screen and (min-width: 569px) and (max-width: 667px) {
  .treasurer .condition {
    margin-top: -16px;
  }
  .treasurer .condition .condition-row {
    font-size: 24px;
    margin-bottom: 6px;
  }
  .treasurer .treasurer-data .data-list {
    margin-bottom: 8px;
  }
  .treasurer .treasurer-data .data-list > input {
    height: 76px;
    font-size: 24px;
    border-radius: 4px;
    text-indent: 21px;
  }
  .treasurer .treasurer-data .data-list:nth-child(4) .refresh-code {
    height: 76px;
    margin-left: 8px;
    border-radius: 8px;
  }
  .treasurer .treasurer-data .data-btn {
    margin-top: 16px;
    border-radius: 4px;
  }
  .treasurer .treasurer-information .friends {
    margin-top: 32px;
    padding: 0 28px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends .friends-title {
    text-indent: 18px;
  }
  .treasurer .treasurer-information .friends .friends-title > img {
    width: 48px;
    margin-right: 6px;
    margin-top: 0;
  }
  .treasurer .treasurer-information .friends .friends-title > span {
    font-size: 34px;
  }
  .treasurer .treasurer-information .friends .friends-content {
    padding: 24px;
    box-sizing: border-box;
    margin-top: 16px;
    border-radius: 12px;
    background-color: #e60000;
  }
  .treasurer .treasurer-information .friends .friends-content .friends-paragraph {
    font-size: 24px;
    line-height: 1.5em;
  }
  .treasurer .treasurer-information .friends .friends-content .friends-paragraph .yellow {
    font-size: 28px;
  }
  .treasurer .treasurer-information .friends .friends-content .dotted {
    padding-bottom: 21px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends .friends-content .top-padding {
    padding-top: 21px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends > table {
    margin-top: 8px;
    border-radius: 12px;
  }
  .treasurer .treasurer-information .friends > table > thead > tr > th {
    padding: 44px 0;
    box-sizing: border-box;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .treasurer .treasurer-information .friends > table > thead > tr > th.big {
    font-size: 24px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td {
    padding: 24px 14px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.big {
    font-size: 24px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.small {
    font-size: 18px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.bottom-left {
    border-bottom-left-radius: 12px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.bottom-right {
    border-bottom-right-radius: 12px;
  }
  .treasurer .footer {
    font-size: 21px;
    margin-top: 18px;
  }
}
@media screen and (min-width: 668px) and (max-width: 768px) {
  .treasurer .condition {
    margin-top: -22px;
  }
  .treasurer .condition .condition-row {
    font-size: 30px;
    margin-bottom: 2px;
  }
  .treasurer .treasurer-data .data-list {
    margin-bottom: 8px;
  }
  .treasurer .treasurer-data .data-list > input {
    height: 88px;
    font-size: 30px;
    border-radius: 10px;
    text-indent: 32px;
  }
  .treasurer .treasurer-data .data-list:nth-child(4) .refresh-code {
    height: 88px;
    margin-left: 8px;
    border-radius: 10px;
  }
  .treasurer .treasurer-data .data-btn {
    margin-top: 16px;
    border-radius: 10px;
  }
  .treasurer .treasurer-information .friends {
    margin-top: 32px;
    padding: 0 48px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends .friends-title {
    text-indent: 45px;
  }
  .treasurer .treasurer-information .friends .friends-title > img {
    width: 65px;
    margin-right: 6px;
    margin-top: 0;
  }
  .treasurer .treasurer-information .friends .friends-title > span {
    font-size: 40px;
  }
  .treasurer .treasurer-information .friends .friends-content {
    padding: 44px;
    box-sizing: border-box;
    margin-top: 16px;
    border-radius: 12px;
    background-color: #e60000;
  }
  .treasurer .treasurer-information .friends .friends-content .friends-paragraph {
    font-size: 30px;
    line-height: 1.5em;
  }
  .treasurer .treasurer-information .friends .friends-content .friends-paragraph .yellow {
    font-size: 36px;
  }
  .treasurer .treasurer-information .friends .friends-content .dotted {
    padding-bottom: 28px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends .friends-content .top-padding {
    padding-top: 28px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends > table {
    margin-top: 8px;
    border-radius: 12px;
  }
  .treasurer .treasurer-information .friends > table > thead > tr > th {
    padding: 44px 0;
    box-sizing: border-box;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .treasurer .treasurer-information .friends > table > thead > tr > th.big {
    font-size: 32px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td {
    padding: 44px 14px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.big {
    font-size: 30px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.small {
    font-size: 28px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.bottom-left {
    border-bottom-left-radius: 12px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.bottom-right {
    border-bottom-right-radius: 12px;
  }
  .treasurer .footer {
    font-size: 30px;
    margin-top: 32px;
  }
}
@media screen and (min-width: 769px) {
  .treasurer .condition {
    margin-top: -21px;
  }
  .treasurer .condition .condition-row {
    font-size: 41px;
    margin-bottom: 2px;
  }
  .treasurer .treasurer-data .data-list {
    margin-bottom: 12px;
  }
  .treasurer .treasurer-data .data-list > input {
    height: 118px;
    font-size: 41px;
    border-radius: 12px;
    text-indent: 36px;
  }
  .treasurer .treasurer-data .data-list:nth-child(4) .refresh-code {
    height: 118px;
    margin-left: 12px;
    border-radius: 18px;
  }
  .treasurer .treasurer-data .data-btn {
    margin-top: 24px;
    border-radius: 12px;
  }
  .treasurer .treasurer-information .friends {
    margin-top: 48px;
    padding: 0 48px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends .friends-title {
    text-indent: 45px;
  }
  .treasurer .treasurer-information .friends .friends-title > img {
    width: 75px;
    margin-right: 6px;
    margin-top: -8px;
  }
  .treasurer .treasurer-information .friends .friends-title > span {
    font-size: 48px;
  }
  .treasurer .treasurer-information .friends .friends-content {
    padding: 44px;
    box-sizing: border-box;
    margin-top: 30px;
    border-radius: 12px;
    background-color: #e60000;
  }
  .treasurer .treasurer-information .friends .friends-content .friends-paragraph {
    font-size: 41px;
    line-height: 1.5em;
  }
  .treasurer .treasurer-information .friends .friends-content .friends-paragraph .yellow {
    font-size: 46px;
  }
  .treasurer .treasurer-information .friends .friends-content .dotted {
    padding-bottom: 36px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends .friends-content .top-padding {
    padding-top: 36px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends > table {
    margin-top: 8px;
    border-radius: 12px;
  }
  .treasurer .treasurer-information .friends > table > thead > tr > th {
    padding: 44px 0;
    box-sizing: border-box;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .treasurer .treasurer-information .friends > table > thead > tr > th.big {
    font-size: 32px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td {
    padding: 44px 16px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.big {
    font-size: 32px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.small {
    font-size: 28px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.bottom-left {
    border-bottom-left-radius: 12px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.bottom-right {
    border-bottom-right-radius: 12px;
  }
  .treasurer .footer {
    font-size: 41px;
    margin-top: 32px;
  }
}
