@charset "utf-8";
body {
  background-color: #e93e0a;
}
.treasurer {
  width: 100%;
  height: auto;
  background: url("../images/bg_00.jpg") left top no-repeat transparent;
  background: url("../images/bg_00.jpg") 0 0 no-repeat transparent;
  background-size: 100%;
  background-color: #e93e0a;
}
.treasurer .treasurer-hide-bg {
  width: 100%;
}
.treasurer .treasurer-hide-bg > img {
  width: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
}
.treasurer .condition .condition-row {
  color: #ffffff;
  text-align: center;
}
.treasurer .condition .condition-row .yellow {
  color: #fce84c;
}
.treasurer .treasurer-hide-bg-1 {
  width: 100%;
}
.treasurer .treasurer-hide-bg-1 > img {
  width: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
}
.treasurer .treasurer-data {
  width: 70%;
  margin: 0 auto;
}
.treasurer .treasurer-data .data-list {
  width: 100%;
}
.treasurer .treasurer-data .data-list > input {
  width: 100%;
  color: #919394;
}
.treasurer .treasurer-data .data-list:nth-child(4) {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
}
.treasurer .treasurer-data .data-list:nth-child(4) > input {
  flex: 2;
  -webkit-flex: 2;
  -moz-flex: 2;
  -o-flex: 2;
  -ms-flex: 2;
  width: 66%;
}
.treasurer .treasurer-data .data-list:nth-child(4) .refresh-code {
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -o-flex: 1;
  -ms-flex: 1;
  width: 33%;
  background-color: #f0feec;
}
.treasurer .treasurer-data .data-btn {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
}
.treasurer .treasurer-data .data-btn .sign-up,
.treasurer .treasurer-data .data-btn .activity {
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -o-flex: 1;
  -ms-flex: 1;
}
.treasurer .treasurer-data .data-btn .sign-up > img,
.treasurer .treasurer-data .data-btn .activity > img {
  width: 100%;
}
.treasurer .treasurer-infor-bg-1 {
  position: fixed;
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
}
.treasurer .treasurer-infor-bg-1 .treasurer-infor-bg-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.8;
  filter: alpha(opacity=8);
}
.treasurer .treasurer-infor-bg-1 .treasurer-infor-bg-3 {
  position: relative;
  top: 50%;
  left: 5%;
  width: 90%;
  background-color: #e93e0a;
  padding-right: 16px;
  box-sizing: border-box;
  /*滚动条整体部分*/
  /*滚动条两端按钮*/
  /*滚动条外层轨道*/
  /*滚动条内层轨道（出去中间滚动的部分）*/
  /*滚动条中可以滚动的部分*/
  /*滚动条的边角*/
  /*滚动条右下角托块的样式*/
  /*滚动条结束*/
}
.treasurer .treasurer-infor-bg-1 .treasurer-infor-bg-3 .gift-box {
  position: absolute;
  left: 50%;
}
.treasurer .treasurer-infor-bg-1 .treasurer-infor-bg-3 .gift-box > img {
  width: 100%;
}
.treasurer .treasurer-infor-bg-1 .treasurer-infor-bg-3 .close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.treasurer .treasurer-infor-bg-1 .treasurer-infor-bg-3 .treasurer-infor-bg {
  width: 100%;
  overflow: auto;
}
.treasurer .treasurer-infor-bg-1 .treasurer-infor-bg-3 .treasurer-infor-bg::-webkit-scrollbar {
  width: 2px;
}
.treasurer .treasurer-infor-bg-1 .treasurer-infor-bg-3 .treasurer-infor-bg::-webkit-scrollbar-button {
  /*background: transparent url(../images/screenbar_icon_up.png) no-repeat center top;*/
}
.treasurer .treasurer-infor-bg-1 .treasurer-infor-bg-3 .treasurer-infor-bg::-webkit-scrollbar-track {
  background: transparent url(../images/screenbar_xtx_line.png) repeat-y center top;
}
.treasurer .treasurer-infor-bg-1 .treasurer-infor-bg-3 .treasurer-infor-bg::-webkit-scrollbar-thumb {
  /*background: transparent url(../images/screenbar_nav.png) no-repeat center top;*/
  background: #fff;
  border-radius: 3px;
}
.treasurer .treasurer-information {
  width: 100%;
  height: auto;
}
.treasurer .treasurer-information > img {
  width: 42%;
  display: block;
  margin: 0 auto;
}
.treasurer .treasurer-information .friends .friends-title > img,
.treasurer .treasurer-information .friends .friends-title > span {
  vertical-align: middle;
}
.treasurer .treasurer-information .friends .friends-title > span {
  color: #ffffff;
}
.treasurer .treasurer-information .friends .friends-content {
  border-width: 1px;
  border-style: solid;
  border-color: #fe6116;
  opacity: 0.8;
  filter: alpha(opacity=8);
  background-color: #e60000;
}
.treasurer .treasurer-information .friends .friends-content .friends-paragraph {
  color: #ffffff;
}
.treasurer .treasurer-information .friends .friends-content .friends-paragraph .yellow,
.treasurer .treasurer-information .friends .friends-content .friends-paragraph .small-yellow {
  color: #fce84c;
}
.treasurer .treasurer-information .friends .friends-content .dotted {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #fe6116;
}
.treasurer .treasurer-information .friends > table {
  opacity: 0.8;
  filter: alpha(opacity=8);
  background-color: #e60000;
  display: block;
  width: 100%;
  border-collapse: collapse;
}
.treasurer .treasurer-information .friends > table > thead {
  width: 100%;
}
.treasurer .treasurer-information .friends > table > thead > tr {
  width: 100%;
}
.treasurer .treasurer-information .friends > table > thead > tr > th {
  border-width: 1px;
  border-style: solid;
  border-color: #fe6116;
}
.treasurer .treasurer-information .friends > table > thead > tr > th.yellow {
  color: #fce84c;
}
.treasurer .treasurer-information .friends > table > tbody {
  width: 100%;
}
.treasurer .treasurer-information .friends > table > tbody > tr {
  width: 100%;
}
.treasurer .treasurer-information .friends > table > tbody > tr > td {
  width: 25%;
  border-width: 1px;
  border-style: solid;
  border-color: #fe6116;
  line-height: 1.2em;
}
.treasurer .treasurer-information .friends > table > tbody > tr > td.big {
  text-align: center;
}
.treasurer .treasurer-information .friends > table > tbody > tr > td.yellow {
  color: #fce84c;
}
.treasurer .treasurer-information .friends > table > tbody > tr > td.white {
  color: #ffffff;
}
.treasurer .treasurer-information .friends .prompt {
  color: #ffffff;
}
.treasurer .treasurer-code {
  width: 30%;
  max-width: 200px;
  _width: 200px;
  margin-left: 35%;
}
.treasurer .footer {
  color: #fce84c;
  text-align: center;
}
.treasurer .bomb-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.treasurer .bomb-box .bomb-box-bg {
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.8;
  filter: alpha(opacity=8);
}
.treasurer .bomb-box .bomb-box-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -125px;
  margin-top: -75px;
  width: 250px;
  height: auto;
  padding-bottom: 15px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 4px;
}
.treasurer .bomb-box .bomb-box-content .bomb-success {
  width: 115px;
  position: relative;
  top: -43px;
  left: 50%;
  margin-left: -61px;
}
.treasurer .bomb-box .bomb-box-content .bomb-box-paragraph {
  text-align: center;
  font-size: 16px;
  margin-top: -30px;
  margin-bottom: 22px;
  padding: 0 8px;
  box-sizing: border-box;
}
.treasurer .bomb-box .bomb-box-content .bomb-box-btn {
  margin: 0 auto;
  width: 160px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #e33c0a;
  border-radius: 4px;
  font-size: 18px;
  color: #ffffff;
}
@media screen and (max-width: 320px) {
  .treasurer .condition .condition-row {
    font-size: 12px;
  }
  .treasurer .treasurer-data {
    margin-top: 6px;
  }
  .treasurer .treasurer-data .data-list {
    margin-bottom: 4px;
  }
  .treasurer .treasurer-data .data-list > input {
    height: 37px;
    font-size: 13px;
    border-radius: 4px;
    text-indent: 10px;
  }
  .treasurer .treasurer-data .data-list:nth-child(4) .refresh-code {
    height: 37px;
    margin-left: 4px;
    border-radius: 4px;
  }
  .treasurer .treasurer-data .data-btn {
    margin-top: 12px;
  }
  .treasurer .treasurer-data .data-btn .sign-up {
    margin-right: 8px;
  }
  .treasurer .treasurer-data .data-btn .sign-up,
  .treasurer .treasurer-data .data-btn .activity {
    border-radius: 4px;
  }
  .treasurer .treasurer-infor-bg-3 {
    margin-top: -146px;
    padding-top: 32px;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .treasurer .treasurer-infor-bg-3 .gift-box {
    width: 140px;
    top: -54px;
    margin-left: -70px;
  }
  .treasurer .treasurer-infor-bg-3 .close {
    width: 20px;
  }
  .treasurer .treasurer-infor-bg-3 .treasurer-infor-bg {
    height: 322px;
  }
  .treasurer .treasurer-information .friends {
    margin-top: 16px;
    padding: 0 12px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends .friends-title {
    text-indent: 12px;
  }
  .treasurer .treasurer-information .friends .friends-title > img {
    width: 21px;
    margin-right: 6px;
    margin-top: 2px;
  }
  .treasurer .treasurer-information .friends .friends-title > span {
    font-size: 15px;
  }
  .treasurer .treasurer-information .friends .friends-content {
    padding: 10px;
    box-sizing: border-box;
    margin-top: 8px;
    border-radius: 4px;
  }
  .treasurer .treasurer-information .friends .friends-content .friends-paragraph {
    font-size: 12px;
    line-height: 1.5em;
  }
  .treasurer .treasurer-information .friends .friends-content .friends-paragraph .yellow {
    font-size: 14px;
  }
  .treasurer .treasurer-information .friends .friends-content .dotted {
    padding-bottom: 7px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends .friends-content .top-padding {
    padding-top: 7px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends > table {
    margin-top: 8px;
    border-radius: 4px;
  }
  .treasurer .treasurer-information .friends > table > thead > tr > th {
    padding: 10px;
    box-sizing: border-box;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .treasurer .treasurer-information .friends > table > thead > tr > th.big {
    font-size: 14px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td {
    padding: 10px 1px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.big {
    font-size: 12px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.small {
    font-size: 12px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.bottom-left {
    border-bottom-left-radius: 4px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.bottom-right {
    border-bottom-right-radius: 4px;
  }
  .treasurer .treasurer-information .friends .prompt {
    font-size: 12px;
    margin-top: 3px;
  }
  .treasurer .treasurer-code {
    margin-top: 20px;
  }
  .treasurer .footer {
    font-size: 13px;
    margin-top: 16px;
  }
}
@media screen and (min-width: 321px) and (max-width: 375px) {
  .treasurer .condition .condition-row {
    font-size: 14px;
  }
  .treasurer .treasurer-data .data-list {
    margin-bottom: 4px;
  }
  .treasurer .treasurer-data .data-list > input {
    height: 43px;
    font-size: 15px;
    border-radius: 4px;
    text-indent: 10px;
  }
  .treasurer .treasurer-data .data-list:nth-child(4) .refresh-code {
    height: 43px;
    margin-left: 4px;
    border-radius: 8px;
  }
  .treasurer .treasurer-data .data-btn {
    margin-top: 12px;
  }
  .treasurer .treasurer-data .data-btn .sign-up {
    margin-right: 8px;
  }
  .treasurer .treasurer-data .data-btn .sign-up,
  .treasurer .treasurer-data .data-btn .activity {
    border-radius: 4px;
  }
  .treasurer .treasurer-infor-bg-3 {
    margin-top: -208px;
    padding-top: 42px;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-radius: 8px;
  }
  .treasurer .treasurer-infor-bg-3 .gift-box {
    width: 176px;
    top: -67px;
    margin-left: -88px;
  }
  .treasurer .treasurer-infor-bg-3 .close {
    width: 20px;
  }
  .treasurer .treasurer-infor-bg-3 .treasurer-infor-bg {
    height: 436px;
  }
  .treasurer .treasurer-information .friends {
    margin-top: 16px;
    padding: 0 12px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends .friends-title {
    text-indent: 18px;
  }
  .treasurer .treasurer-information .friends .friends-title > img {
    width: 28px;
    margin-right: 6px;
    margin-top: 0;
  }
  .treasurer .treasurer-information .friends .friends-title > span {
    font-size: 21px;
  }
  .treasurer .treasurer-information .friends .friends-content {
    padding: 18px;
    box-sizing: border-box;
    margin-top: 8px;
    border-radius: 4px;
    background-color: #e60000;
  }
  .treasurer .treasurer-information .friends .friends-content .friends-paragraph {
    font-size: 14px;
    line-height: 1.5em;
  }
  .treasurer .treasurer-information .friends .friends-content .friends-paragraph .yellow {
    font-size: 18px;
  }
  .treasurer .treasurer-information .friends .friends-content .dotted {
    padding-bottom: 13px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends .friends-content .top-padding {
    padding-top: 13px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends > table {
    margin-top: 8px;
    border-radius: 4px;
  }
  .treasurer .treasurer-information .friends > table > thead > tr > th {
    padding: 10px;
    box-sizing: border-box;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .treasurer .treasurer-information .friends > table > thead > tr > th.big {
    font-size: 17px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td {
    padding: 10px 3px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.big {
    font-size: 15px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.small {
    font-size: 12px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.bottom-left {
    border-bottom-left-radius: 4px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.bottom-right {
    border-bottom-right-radius: 4px;
  }
  .treasurer .treasurer-information .friends .prompt {
    font-size: 12px;
    margin-top: 3px;
  }
  .treasurer .treasurer-code {
    margin-top: 20px;
  }
  .treasurer .footer {
    font-size: 15px;
    margin-top: 16px;
  }
}
@media screen and (min-width: 376px) and (max-width: 414px) {
  .treasurer .condition .condition-row {
    font-size: 15px;
  }
  .treasurer .treasurer-data {
    margin-top: 6px;
  }
  .treasurer .treasurer-data .data-list {
    margin-bottom: 4px;
  }
  .treasurer .treasurer-data .data-list > input {
    height: 47px;
    font-size: 17px;
    border-radius: 4px;
    text-indent: 10px;
  }
  .treasurer .treasurer-data .data-list:nth-child(4) .refresh-code {
    height: 47px;
    margin-left: 4px;
    border-radius: 8px;
  }
  .treasurer .treasurer-data .data-btn {
    margin-top: 12px;
  }
  .treasurer .treasurer-data .data-btn .sign-up {
    margin-right: 8px;
  }
  .treasurer .treasurer-data .data-btn .sign-up,
  .treasurer .treasurer-data .data-btn .activity {
    border-radius: 4px;
  }
  .treasurer .treasurer-infor-bg-3 {
    margin-top: -252px;
    padding-top: 42px;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-radius: 8px;
  }
  .treasurer .treasurer-infor-bg-3 .gift-box {
    width: 176px;
    top: -67px;
    margin-left: -88px;
  }
  .treasurer .treasurer-infor-bg-3 .close {
    width: 20px;
  }
  .treasurer .treasurer-infor-bg-3 .treasurer-infor-bg {
    height: 516px;
  }
  .treasurer .treasurer-information .friends {
    margin-top: 16px;
    padding: 0 14px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends .friends-title {
    text-indent: 18px;
  }
  .treasurer .treasurer-information .friends .friends-title > img {
    width: 30px;
    margin-right: 6px;
    margin-top: 0;
  }
  .treasurer .treasurer-information .friends .friends-title > span {
    font-size: 21px;
  }
  .treasurer .treasurer-information .friends .friends-content {
    padding: 14px;
    box-sizing: border-box;
    margin-top: 8px;
    border-radius: 4px;
    background-color: #e60000;
  }
  .treasurer .treasurer-information .friends .friends-content .friends-paragraph {
    font-size: 15px;
    line-height: 1.5em;
  }
  .treasurer .treasurer-information .friends .friends-content .friends-paragraph .yellow {
    font-size: 18px;
  }
  .treasurer .treasurer-information .friends .friends-content .dotted {
    padding-bottom: 16px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends .friends-content .top-padding {
    padding-top: 16px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends > table {
    margin-top: 8px;
    border-radius: 4px;
  }
  .treasurer .treasurer-information .friends > table > thead > tr > th {
    padding: 10px;
    box-sizing: border-box;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .treasurer .treasurer-information .friends > table > thead > tr > th.big {
    font-size: 15px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td {
    padding: 10px 3px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.big {
    font-size: 15px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.small {
    font-size: 13px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.bottom-left {
    border-bottom-left-radius: 4px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.bottom-right {
    border-bottom-right-radius: 4px;
  }
  .treasurer .treasurer-information .friends .prompt {
    font-size: 13px;
    margin-top: 3px;
  }
  .treasurer .treasurer-code {
    margin-top: 20px;
  }
  .treasurer .footer {
    font-size: 17px;
    margin-top: 16px;
  }
}
@media screen and (min-width: 415px) and (max-width: 568px) {
  .treasurer .condition .condition-row {
    font-size: 18px;
    margin-bottom: 4px;
  }
  .treasurer .treasurer-data .data-list {
    margin-bottom: 8px;
  }
  .treasurer .treasurer-data .data-list > input {
    height: 65px;
    font-size: 21px;
    border-radius: 4px;
    text-indent: 18px;
  }
  .treasurer .treasurer-data .data-list:nth-child(4) .refresh-code {
    height: 65px;
    margin-left: 8px;
    border-radius: 8px;
  }
  .treasurer .treasurer-data .data-btn {
    margin-top: 20px;
  }
  .treasurer .treasurer-data .data-btn .sign-up {
    margin-right: 16px;
  }
  .treasurer .treasurer-data .data-btn .sign-up,
  .treasurer .treasurer-data .data-btn .activity {
    border-radius: 4px;
  }
  .treasurer .treasurer-infor-bg-3 {
    margin-top: -68px;
    padding-top: 36px;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-radius: 8px;
  }
  .treasurer .treasurer-infor-bg-3 .gift-box {
    width: 176px;
    top: -67px;
    margin-left: -88px;
  }
  .treasurer .treasurer-infor-bg-3 .close {
    width: 20px;
  }
  .treasurer .treasurer-infor-bg-3 .treasurer-infor-bg {
    height: 160px;
  }
  .treasurer .treasurer-information .friends {
    margin-top: 13px;
    padding: 0 14px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends .friends-title {
    text-indent: 20px;
  }
  .treasurer .treasurer-information .friends .friends-title > img {
    width: 30px;
    margin-right: 6px;
    margin-top: 0;
  }
  .treasurer .treasurer-information .friends .friends-title > span {
    font-size: 21px;
  }
  .treasurer .treasurer-information .friends .friends-content {
    padding: 13px;
    box-sizing: border-box;
    margin-top: 9px;
    border-radius: 12px;
    background-color: #e60000;
  }
  .treasurer .treasurer-information .friends .friends-content .friends-paragraph {
    font-size: 16px;
    line-height: 1.5em;
  }
  .treasurer .treasurer-information .friends .friends-content .friends-paragraph .yellow {
    font-size: 18px;
  }
  .treasurer .treasurer-information .friends .friends-content .dotted {
    padding-bottom: 10px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends .friends-content .top-padding {
    padding-top: 10px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends > table {
    margin-top: 8px;
    border-radius: 12px;
  }
  .treasurer .treasurer-information .friends > table > thead > tr > th {
    padding: 14px 0;
    box-sizing: border-box;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .treasurer .treasurer-information .friends > table > thead > tr > th.big {
    font-size: 18px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td {
    padding: 10px 8px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.big {
    font-size: 18px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.small {
    font-size: 13px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.bottom-left {
    border-bottom-left-radius: 12px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.bottom-right {
    border-bottom-right-radius: 12px;
  }
  .treasurer .treasurer-information .friends .prompt {
    font-size: 13px;
    margin-top: 3px;
  }
  .treasurer .treasurer-code {
    margin-top: 20px;
  }
  .treasurer .footer {
    font-size: 15px;
    margin-top: 9px;
  }
}
@media screen and (min-width: 569px) and (max-width: 667px) {
  .treasurer .condition .condition-row {
    font-size: 24px;
    margin-bottom: 6px;
  }
  .treasurer .treasurer-data .data-list {
    margin-bottom: 8px;
  }
  .treasurer .treasurer-data .data-list > input {
    height: 76px;
    font-size: 24px;
    border-radius: 4px;
    text-indent: 21px;
  }
  .treasurer .treasurer-data .data-list:nth-child(4) .refresh-code {
    height: 76px;
    margin-left: 8px;
    border-radius: 8px;
  }
  .treasurer .treasurer-data .data-btn {
    margin-top: 20px;
  }
  .treasurer .treasurer-data .data-btn .sign-up {
    margin-right: 16px;
  }
  .treasurer .treasurer-data .data-btn .sign-up,
  .treasurer .treasurer-data .data-btn .activity {
    border-radius: 4px;
  }
  .treasurer .treasurer-infor-bg-3 {
    margin-top: -82px;
    padding-top: 36px;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .treasurer .treasurer-infor-bg-3 .gift-box {
    width: 176px;
    top: -67px;
    margin-left: -88px;
  }
  .treasurer .treasurer-infor-bg-3 .close {
    width: 20px;
  }
  .treasurer .treasurer-infor-bg-3 .treasurer-infor-bg {
    height: 198px;
  }
  .treasurer .treasurer-information .friends {
    margin-top: 10px;
    padding: 0 13px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends .friends-title {
    text-indent: 18px;
  }
  .treasurer .treasurer-information .friends .friends-title > img {
    width: 32px;
    margin-right: 6px;
    margin-top: 0;
  }
  .treasurer .treasurer-information .friends .friends-title > span {
    font-size: 21px;
  }
  .treasurer .treasurer-information .friends .friends-content {
    padding: 12px;
    box-sizing: border-box;
    margin-top: 9px;
    border-radius: 12px;
    background-color: #e60000;
  }
  .treasurer .treasurer-information .friends .friends-content .friends-paragraph {
    font-size: 16px;
    line-height: 1.5em;
  }
  .treasurer .treasurer-information .friends .friends-content .friends-paragraph .yellow {
    font-size: 18px;
  }
  .treasurer .treasurer-information .friends .friends-content .dotted {
    padding-bottom: 10px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends .friends-content .top-padding {
    padding-top: 10px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends > table {
    margin-top: 8px;
    border-radius: 12px;
  }
  .treasurer .treasurer-information .friends > table > thead > tr > th {
    padding: 16px 0;
    box-sizing: border-box;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .treasurer .treasurer-information .friends > table > thead > tr > th.big {
    font-size: 18px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td {
    padding: 12px 10px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.big {
    font-size: 18px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.small {
    font-size: 14px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.bottom-left {
    border-bottom-left-radius: 12px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.bottom-right {
    border-bottom-right-radius: 12px;
  }
  .treasurer .treasurer-information .friends .prompt {
    font-size: 14px;
    margin-top: 3px;
  }
  .treasurer .treasurer-code {
    margin-top: 20px;
  }
  .treasurer .footer {
    font-size: 16px;
    margin-top: 10px;
  }
}
@media screen and (min-width: 668px) and (max-width: 767px) {
  .treasurer .condition .condition-row {
    font-size: 27px;
    margin-bottom: 2px;
  }
  .treasurer .treasurer-data .data-list {
    margin-bottom: 8px;
  }
  .treasurer .treasurer-data .data-list > input {
    height: 88px;
    font-size: 30px;
    border-radius: 10px;
    text-indent: 32px;
  }
  .treasurer .treasurer-data .data-list:nth-child(4) .refresh-code {
    height: 88px;
    margin-left: 8px;
    border-radius: 10px;
  }
  .treasurer .treasurer-data .data-btn {
    margin-top: 20px;
  }
  .treasurer .treasurer-data .data-btn .sign-up {
    margin-right: 16px;
  }
  .treasurer .treasurer-data .data-btn .sign-up,
  .treasurer .treasurer-data .data-btn .activity {
    border-radius: 10px;
  }
  .treasurer .treasurer-infor-bg-3 {
    margin-top: -72px;
    padding-top: 40px;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .treasurer .treasurer-infor-bg-3 .gift-box {
    width: 200px;
    top: -80px;
    margin-left: -100px;
  }
  .treasurer .treasurer-infor-bg-3 .close {
    width: 20px;
  }
  .treasurer .treasurer-infor-bg-3 .treasurer-infor-bg {
    height: 198px;
  }
  .treasurer .treasurer-information .friends {
    margin-top: 32px;
    padding: 0 14px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends .friends-title {
    text-indent: 25px;
  }
  .treasurer .treasurer-information .friends .friends-title > img {
    width: 34px;
    margin-right: 6px;
    margin-top: 0;
  }
  .treasurer .treasurer-information .friends .friends-title > span {
    font-size: 24px;
  }
  .treasurer .treasurer-information .friends .friends-content {
    padding: 13px;
    box-sizing: border-box;
    margin-top: 16px;
    border-radius: 12px;
    background-color: #e60000;
  }
  .treasurer .treasurer-information .friends .friends-content .friends-paragraph {
    font-size: 18px;
    line-height: 1.5em;
  }
  .treasurer .treasurer-information .friends .friends-content .friends-paragraph .yellow {
    font-size: 21px;
  }
  .treasurer .treasurer-information .friends .friends-content .dotted {
    padding-bottom: 12px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends .friends-content .top-padding {
    padding-top: 12px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends > table {
    margin-top: 8px;
    border-radius: 12px;
  }
  .treasurer .treasurer-information .friends > table > thead > tr > th {
    padding: 16px 0;
    box-sizing: border-box;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .treasurer .treasurer-information .friends > table > thead > tr > th.big {
    font-size: 21px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td {
    padding: 14px 12px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.big {
    font-size: 21px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.small {
    font-size: 16px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.bottom-left {
    border-bottom-left-radius: 12px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.bottom-right {
    border-bottom-right-radius: 12px;
  }
  .treasurer .treasurer-information .friends .prompt {
    font-size: 14px;
    margin-top: 3px;
  }
  .treasurer .treasurer-code {
    margin-top: 20px;
  }
  .treasurer .footer {
    font-size: 16px;
    margin-top: 12px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .treasurer .condition .condition-row {
    font-size: 27px;
    margin-bottom: 2px;
  }
  .treasurer .treasurer-data .data-list {
    margin-bottom: 8px;
  }
  .treasurer .treasurer-data .data-list > input {
    height: 88px;
    font-size: 30px;
    border-radius: 10px;
    text-indent: 32px;
  }
  .treasurer .treasurer-data .data-list:nth-child(4) .refresh-code {
    height: 88px;
    margin-left: 8px;
    border-radius: 10px;
  }
  .treasurer .treasurer-data .data-btn {
    margin-top: 20px;
  }
  .treasurer .treasurer-data .data-btn .sign-up {
    margin-right: 16px;
  }
  .treasurer .treasurer-data .data-btn .sign-up,
  .treasurer .treasurer-data .data-btn .activity {
    border-radius: 10px;
  }
  .treasurer .treasurer-infor-bg-3 {
    margin-top: -316px;
    padding-top: 64px;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .treasurer .treasurer-infor-bg-3 .gift-box {
    width: 300px;
    top: -119px;
    margin-left: -150px;
  }
  .treasurer .treasurer-infor-bg-3 .close {
    width: 35px;
  }
  .treasurer .treasurer-infor-bg-3 .treasurer-infor-bg {
    height: 714px;
  }
  .treasurer .treasurer-information .friends {
    margin-top: 32px;
    padding: 0 14px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends .friends-title {
    text-indent: 25px;
  }
  .treasurer .treasurer-information .friends .friends-title > img {
    width: 34px;
    margin-right: 6px;
    margin-top: 0;
  }
  .treasurer .treasurer-information .friends .friends-title > span {
    font-size: 24px;
  }
  .treasurer .treasurer-information .friends .friends-content {
    padding: 13px;
    box-sizing: border-box;
    margin-top: 16px;
    border-radius: 12px;
    background-color: #e60000;
  }
  .treasurer .treasurer-information .friends .friends-content .friends-paragraph {
    font-size: 18px;
    line-height: 1.5em;
  }
  .treasurer .treasurer-information .friends .friends-content .friends-paragraph .yellow {
    font-size: 21px;
  }
  .treasurer .treasurer-information .friends .friends-content .dotted {
    padding-bottom: 12px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends .friends-content .top-padding {
    padding-top: 12px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends > table {
    margin-top: 8px;
    border-radius: 12px;
  }
  .treasurer .treasurer-information .friends > table > thead > tr > th {
    padding: 16px 0;
    box-sizing: border-box;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .treasurer .treasurer-information .friends > table > thead > tr > th.big {
    font-size: 21px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td {
    padding: 14px 12px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.big {
    font-size: 21px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.small {
    font-size: 16px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.bottom-left {
    border-bottom-left-radius: 12px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.bottom-right {
    border-bottom-right-radius: 12px;
  }
  .treasurer .treasurer-information .friends .prompt {
    font-size: 16px;
    margin-top: 8px;
  }
  .treasurer .treasurer-code {
    margin-top: 40px;
  }
  .treasurer .footer {
    font-size: 16px;
    margin-top: 12px;
  }
}
@media screen and (min-width: 1024px) {
  .treasurer .condition .condition-row {
    font-size: 36px;
    margin-bottom: 2px;
  }
  .treasurer .treasurer-data .data-list {
    margin-bottom: 12px;
  }
  .treasurer .treasurer-data .data-list > input {
    height: 118px;
    font-size: 41px;
    border-radius: 12px;
    text-indent: 36px;
  }
  .treasurer .treasurer-data .data-list:nth-child(4) .refresh-code {
    height: 118px;
    margin-left: 12px;
    border-radius: 18px;
  }
  .treasurer .treasurer-data .data-btn {
    margin-top: 30px;
  }
  .treasurer .treasurer-data .data-btn .sign-up {
    margin-right: 24px;
  }
  .treasurer .treasurer-data .data-btn .sign-up,
  .treasurer .treasurer-data .data-btn .activity {
    border-radius: 12px;
  }
  .treasurer .treasurer-infor-bg-3 {
    margin-top: -182px;
    padding-top: 60px;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .treasurer .treasurer-infor-bg-3 .gift-box {
    width: 300px;
    top: -114px;
    margin-left: -150px;
  }
  .treasurer .treasurer-infor-bg-3 .close {
    width: 35px;
  }
  .treasurer .treasurer-infor-bg-3 .treasurer-infor-bg {
    height: 447px;
  }
  .treasurer .treasurer-information .friends {
    margin-top: 48px;
    padding: 0 28px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends .friends-title {
    text-indent: 45px;
  }
  .treasurer .treasurer-information .friends .friends-title > img {
    width: 54px;
    margin-right: 6px;
  }
  .treasurer .treasurer-information .friends .friends-title > span {
    font-size: 40px;
  }
  .treasurer .treasurer-information .friends .friends-content {
    padding: 25px;
    box-sizing: border-box;
    margin-top: 30px;
    border-radius: 12px;
    background-color: #e60000;
  }
  .treasurer .treasurer-information .friends .friends-content .friends-paragraph {
    font-size: 28px;
    line-height: 1.5em;
  }
  .treasurer .treasurer-information .friends .friends-content .friends-paragraph .yellow {
    font-size: 32px;
  }
  .treasurer .treasurer-information .friends .friends-content .dotted {
    padding-bottom: 23px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends .friends-content .top-padding {
    padding-top: 23px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends > table {
    margin-top: 8px;
    border-radius: 12px;
  }
  .treasurer .treasurer-information .friends > table > thead > tr > th {
    padding: 32px 0;
    box-sizing: border-box;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .treasurer .treasurer-information .friends > table > thead > tr > th.big {
    font-size: 32px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td {
    padding: 21px 15px;
    box-sizing: border-box;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.big {
    font-size: 32px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.small {
    font-size: 24px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.bottom-left {
    border-bottom-left-radius: 12px;
  }
  .treasurer .treasurer-information .friends > table > tbody > tr > td.bottom-right {
    border-bottom-right-radius: 12px;
  }
  .treasurer .treasurer-information .friends .prompt {
    font-size: 24px;
    margin-top: 16px;
  }
  .treasurer .treasurer-code {
    margin-top: 40px;
  }
  .treasurer .footer {
    font-size: 28px;
    margin-top: 14px;
  }
}
.close-up {
  animation: closeUp 1s ease forwards;
  -webkit-animation: closeUp 1s ease forwards;
}
@keyframes closeUp {
  0% {
    top: 120%;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes closeUp {
  0% {
    top: 120%;
  }
  100% {
    top: 0;
  }
}
.close-down {
  animation: closeDown 1s ease forwards;
  -webkit-animation: closeDown 1s ease forwards;
}
@keyframes closeDown {
  0% {
    top: 0;
  }
  100% {
    top: 120%;
  }
}
@-webkit-keyframes closeDown {
  0% {
    top: 0;
  }
  100% {
    top: 120%;
  }
}
